<% if @prev %>
<div <% if @next %>style="float:left;"<% end %>>
  <span class="glyphicon glyphicon-circle-arrow-left"></span>
  <%= link_to 'Précédent', pin_path(@prev), id: "prev-pin"%>
</div>
<% end %>
<% if @next %>
<div class="text-right">
  <%= link_to 'Suivant', pin_path(@next), id: "next-pin" %>
  <span class="glyphicon glyphicon-circle-arrow-right"></span>
</div>
<% end %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-body center">
        <h2><%= @pin.description %></h2>
      </div>
      <div class="panel-heading center">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p>Paroles de sagesses par <strong><%= @pin.user.name if @pin.user %> </strong>
        <%= link_to edit_pin_path(@pin) do %>
          <span class="glyphicon glyphicon-edit"></span>
          Edit
        <% end %>
        </p>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
    <div class="panel panel-body center">
      <h3>Vote pour ta soeur</h3>
        <span class="glyphicon glyphicon-circle-arrow-up"></span>
        <%= link_to 'Elle prend cher', upvote_pin_path(@pin), method: :post %> (<%= @pin.upvotes.size %>) 
        <%= link_to 'Nique sa mère', downvote_pin_path(@pin), method: :post %> (<%= @pin.downvotes.size %>) 
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </div>
    <div class="fb-comments" width="720px" data-href="http://tasoeur.fr/" data-numposts="10" data-colorscheme="light"></div>
</div>