<%= link_to 'Back', pins_path %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-body center">
        <h2><%= @pin.description %></h2>
      </div>
      <div class="panel-heading center">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p>Paroles de sagesses par <strong><%= @pin.user.name if @pin.user %> </strong>
        <%= link_to edit_pin_path(@pin) do %>
          <span class="glyphicon glyphicon-edit"></span>
          Edit
        <% end %>
        </p>
      </div>
    </div>
    <div class="panel panel-body center">
      <h3>Vote pour ta soeur</h3>
        <%= link_to 'Elle prend cher', upvote_pin_path(@pin), method: :post %>
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
      (<%= @pin.upvotes.size %>) 
      <%= link_to 'Nique sa mère', downvote_pin_path(@pin), method: :post %>
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </div>
    <div class="panel panel-body">
      Comments will go here
    </div>
</div>